<h3>Sobre o Projeto</h3>

<p>O projeto é uma simples demonstração das operações CRUD (Create, Read, Update e Delete) em uma aplicação de criação e edição de postagens e comentários desenvolvida com HTML, CSS, PHP e o banco de dados do MySQL.</p>

<p>Os principais recursos do projeto são:</p>

<ul>
    <li>Criação, leitura, atualização e exclusão de postagens;</li>
    <li>Criação, leitura e exclusão de comentários nas postagens.</li>
</ul>


<p>Sinta-se à vontade para explorar as funcionalidades de gerenciamento de postagens clicando em "admin" no rodapé da página e de gerenciamento de comentários diretamente nas postagens.</p><br>

<p>Jamison S. Araújo</p>
<a href="https://www.linkedin.com/in/jamisonaraujo/">Linkedin</a><br>
<a href="https://github.com/JamisonAraujo">Github</a>

