<html>
    <head>
        <link rel="stylesheet" href="src/index.css">
    </head>

    <body>
        
        <header>
            <nav>
                <a href="?page=home" class="header">Home</a> |
                <a href="?page=about" class="header">Sobre</a>
            </nav>
        </header>


        <div class="content">
            {{dynamic area}}
        </div>
        <footer>criado por <b>&nbsp;Jamison Araújo</b>&nbsp;-&nbsp;<a href="?page=admin">admin</a></footer>
    </body>
</html>

<!-- crud_php
    App
        -Template
            -Template.html
    src
        -index.css -->